<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="org.mattvchandler.progressbars">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <application
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:label="@string/app_name"
        android:name=".util.Resetting_application"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.progress_bars"
        tools:ignore="GoogleAppIndexingWarning">

        <activity
            android:name=".Progress_bars"
            android:launchMode="singleTop"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts"/>
        </activity>

        <activity
            android:name=".settings.Settings"
            android:launchMode="singleTop"
            android:label="@string/edit_title"
            android:taskAffinity=""
            >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".settings.Countdown_text"
            android:label="@string/countdown_text_header"
            android:parentActivityName=".settings.Settings"
            />
        <activity
            android:name=".settings.TimeZone_activity"
            android:label="@string/choose_tz"
            android:parentActivityName=".settings.Settings"
            />

        <activity
            android:name=".util.Preferences"
            android:label="@string/settings"
            />

        <receiver android:name=".util.Notification_handler">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>

        <receiver android:name=".Widget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_info"
                />
        </receiver>

    </application>

</manifest>
