<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="org.mattvchandler.progressbars">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/progress_bar_launcher_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/progress_bar_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.progress_bars"
        android:fullBackupContent="@xml/backup_descriptor"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".Progress_bars"
                  android:launchMode="singleTop"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".Settings"
            android:label="@string/edit_title"
            android:parentActivityName=".Progress_bars"
            android:windowSoftInputMode="stateHidden"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Progress_bars"
            />
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>
        <receiver android:name=".Notification_handler">
             <intent-filter>
                 <action android:name="android.intent.action.BOOT_COMPLETED"/>
             </intent-filter>
        </receiver>
    </application>
</manifest>
